.scan_container {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.TimeTableContainer {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    grid-template-rows: 26px auto;
    grid-template-areas: 
    "whitespace days days days days days days days"
    "timestamps week week week week week week week";
    gap: 1em;
}
